/* ProfilePage.css */

.profile-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  .navbar {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-brand h1 {
    margin: 0;
    font-size: 24px;
  }
  
#button{
  width: 20px;
}
  
  .navbar-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .navbar-nav a.active {
    font-weight: bold;
  }
  
  .container-xxl {
    padding: 0;
  }
  
  .container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .form-control, .form-select {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .form-control:focus, .form-select:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width:40%;
  }
  
  button[type="submit"]:hover {
    background-color: #c6d8eb;
    width:20px;
  }
  